<div class="container">
  <h3>Credits</h3>
  <div class="row">
    <div class="twelve columns">
      <p>Written by Robber, stats and formula by Cornstache.<p>
    </div>
  </div>
</div>

<%= render partial: "partials/links" %>
