<div class="container">
  <h3 style="text-align: center;">F3 Cola Bull Scoring App</h3>
  <div class="row">
    <div class="one columns"></div>
    <div class="five columns" style="text-align: center;">
      <span>Reps:</span><br />
      <%= text_field_tag "reps", nil, :value => "0", :class => "u-full-width" %>
    </div>
    <div class="five columns" style="text-align: center;">
      <span>Weight:</span><br />
      <%= text_field_tag "weight", nil, :value => "0", :class => "u-full-width" %>
    </div>
    <div class="one columns"></div>
  </div>
  <div class="row">
    <div class="twelve columns" style="text-align: center; color: #2BAFD9; font-size: 7.5em">
      <span id="results">0</span>
    </div>
  </div>
</div>
