<div class="container">
  <%= render partial: "partials/header" %>
  <div class="row">
    <div class="twelve columns" style="text-align: center; color: #2BAFD9; font-size: 10em; line-height: 1;">
      <span id="results">0</span>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <span>Reps:</span><br />
      <%= text_field_tag "reps", nil, :class => "u-full-width", :type => "number" %>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <span>Weight:</span><br />
      <%= text_field_tag "weight", nil, :class => "u-full-width", :type => "number" %>
    </div>
  </div>
</div>

<%= render partial: "partials/links" %>
