<div class="container">
  <%= render partial: "partials/header" %>
  <h3>The Math</h3>
  <div class="row">
    <div class="twelve columns">
      <p>From Cornstache:<p>

    </div>
  </div>
</div>

<%= render partial: "partials/links" %>
